* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 8px;
}

@media (min-width: 360px) {
  :root {
    font-size: 10px;
  }
}

@media (min-width: 480px) {
  :root {
    font-size: 12px;
  }
}

@media (min-width: 600px) {
  :root {
    font-size: 15px;
  }
}

@media (min-width: 800px) {
  :root {
    font-size: 17px;
  }
}

@media (orientation: landscape) and (min-width: 853px) {
  :root {
    font-size: 20px;
  }
}

@media (orientation: landscape) and (min-width: 1280px) {
  :root {
    font-size: 24px;
  }
}

body {
  background-color: #254558;
  font-family: 'Baloo Bhai', cursive;
  color: #F4F5F6;
}

button {
  font-family: 'Baloo Bhai', cursive;
}

button:focus {
  outline: 0;
}