* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

body {
  background-color: #254558;
  font-family: 'Baloo Bhai', cursive;
  color: #F4F5F6;
}

button {
  font-family: 'Baloo Bhai', cursive;
}

button:focus {
  outline: 0;
}